@{
    ViewData["Title"] = "PDF Önizleme";
}

<div class="container mt-5">

    <h2 class="mb-4">
        Oluşturulan PDF
    </h2>

    <iframe src="/output.pdf"
            width="100%"
            height="800px"
            style="border:1px solid #ccc;">
    </iframe>

</div>