@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">

    <h1 class="display-4 mb-4">
        Welcome
    </h1>

    <a asp-controller="Inspection"
           asp-action="Index"
           class="btn btn-primary btn-lg">

        Form Doldur

    </a>

</div>